

// $primary: #34303D;

/* $primary: #F40000;
$secondary: #FFFDFB;
$contrast: #00d1d2;
$gold: #C29A69;
$gray: #F6F4F0; */

$perfil: #00d9fb;
$medicamentos: #0076f2;
$citas: #bc00ed;
$compras: #c80694;
$puntos: #ee0053;
$referidos: #f77d00;
$catalogo: #ffbb00;
$noticias: #29bc8a;
