
@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat-Bold/Montserrat-Bold.eot");
    src: local("☺"), url("../fonts/Montserrat-Bold/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold/Montserrat-Bold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Montserrat-Light";
    src: url("../fonts/Montserrat-Light/Montserrat-Light.eot");
    src: local("☺"), url("../fonts/Montserrat-Light/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light/Montserrat-Light.ttf") format("truetype"), url("../fonts/Montserrat-Light/Montserrat-Light.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Montserrat-Medium";
    src: url("../fonts/Montserrat-Medium/Montserrat-Medium.eot");
    src: local("☺"), url("../fonts/Montserrat-Medium/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium/Montserrat-Medium.ttf") format("truetype"), url("../fonts/Montserrat-Medium/Montserrat-Medium.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat-Regular/Montserrat-Regular.eot");
    src: local("☺"), url("../fonts/Montserrat-Regular/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular/Montserrat-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Montserrat-SemiBold";
    src: url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.eot");
    src: local("☺"), url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.ttf") format("truetype"), url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Montserrat-SemiBold";
    src: url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.eot");
    src: local("☺"), url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.ttf") format("truetype"), url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Gotham-Bold";
    src: url("../fonts/Gotham-Bold/fonts/Gotham-Bold.eot");
    src: local("☺"), url("../fonts/Gotham-Bold/fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold/fonts/Gotham-Bold.ttf") format("truetype"), url("../fonts/Gotham-Bold/fonts/Gotham-Bold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Gotham-Book";
    src: url("../fonts/Gotham-Book/fonts/Gotham-Book.eot");
    src: local("☺"), url("../fonts/Gotham-Book/fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book/fonts/Gotham-Book.ttf") format("truetype"), url("../fonts/Gotham-Book/fonts/Gotham-Book.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Gotham-Medium";
    src: url("../fonts/Gotham-Medium/fonts/Gotham-Medium.eot");
    src: local("☺"), url("../fonts/Gotham-Medium/fonts/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium/fonts/Gotham-Medium.ttf") format("truetype"), url("../fonts/Gotham-Medium/fonts/Gotham-Medium.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Gotham-Black";
    src: url("../fonts/Gotham-Black/fonts/Gotham-Black.eot");
    src: local("☺"), url("../fonts/Gotham-Black/fonts/Gotham-Black.woff") format("woff"), url("../fonts/Gotham-Black/fonts/Gotham-Black.ttf") format("truetype"), url("../fonts/Gotham-Black/fonts/Gotham-Black.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }


  @font-face {
    font-family: 'gothamRoundedBold';
    src: url('../fonts/gothamrnd-bold.eot');
    src: url('../fonts/gothamrnd-bold.eot') format('embedded-opentype'),
         url('../fonts/gothamrnd-bold.woff') format('woff'),
         url('../fonts/gothamrnd-bold.ttf') format('truetype'),
         url('../fonts/gothamrnd-bold.svg#GothamRoundedBold') format('svg');
}

@font-face {
    font-family: 'gothamRoundedBook';
    src: url('../fonts/gothamrnd-book.eot');
    src: url('../fonts/gothamrnd-book.eot') format('embedded-opentype'),
         url('../fonts/gothamrnd-book.woff') format('woff'),
         url('../fonts/gothamrnd-book.ttf') format('truetype'),
         url('../fonts/gothamrnd-book.svg#GothamRoundedBook') format('svg');
}
@font-face {
    font-family: 'gothamRoundedMedium';
    src: url('../fonts/gothamrnd-medium.eot');
    src: url('../fonts/gothamrnd-medium.eot') format('embedded-opentype'),
         url('../fonts/gothamrnd-medium.woff') format('woff'),
         url('../fonts/gothamrnd-medium.ttf') format('truetype'),
         url('../fonts/gothamrnd-medium.svg#GothamRoundedMedium') format('svg');
}
@font-face {
    font-family: 'gothamRoundedLight';
    src: url('../fonts/gothamrnd-light.eot');
    src: url('../fonts/gothamrnd-light.eot') format('embedded-opentype'),
         url('../fonts/gothamrnd-light.woff') format('woff'),
         url('../fonts/gothamrnd-light.ttf') format('truetype'),
         url('../fonts/gothamrnd-light.svg#GothamRoundedLight') format('svg');
}

