body {
    scrollbar-base-color: black;
  scrollbar-face-color: black;
  scrollbar-3dlight-color: black;
  scrollbar-highlight-color: black;
  scrollbar-track-color: black;
  scrollbar-arrow-color: black;
  scrollbar-shadow-color: black;
  scrollbar-dark-shadow-color: black;
}
::-webkit-scrollbar {
  display: none;
    width: 7px;
    padding: 0!important;
    margin-left: -1rem!important;
    margin-right: -0.75rem!important;
    background: black; 
    // display: none;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black; 
    @include border-radius(1.5rem 1.5rem)
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }